#btn-btn{
    border: none;
    background-color: rgb(12, 180, 12);
    color:white;
    font-family: Edu NSW ACT Cursive, cursive, italic;
    border-radius: 20px;
    transition: 0.1s ease-in-out;
}


#btn-btn:hover{
    background-color: rgb(57, 57, 63);
}

#btn-btn:active{
    transform: scale(0.9);
}

a #btn-btn{
    text-decoration: none;
}
